<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TestApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <location path="subfolder">
    <appSettings>
      <add key="AppSettingsKey" value="0123" />
    </appSettings>
    <applicationSettings>
      <TestApp.Properties.Settings>
        <setting name="SomeString" serializeAs="String">
          <value>String value is here.</value>
        </setting>
        <setting name="SomeBoolean" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="SomeStringColletion" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <string>1 here</string>
              <string>And other here.</string>
            </ArrayOfString>
          </value>
        </setting>
      </TestApp.Properties.Settings>
    </applicationSettings>
    <connectionStrings>
      <add name="FirstConnectionString" connectionString="server=localhost;database=FirstDb;uid=myUser;password=myPass;"/>
      <add name="SecondConnectionString" connectionString="server=localhost;database=SecondDb;uid=myUser;password=myPass;"/>
    </connectionStrings>
  </location>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="someuser@someemailprovidernamehere.com">
        <network host="localhost" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <compilation debug="true"></compilation>
    <sessionState mode="SQLServer" allowCustomSqlDatabase="true" sqlConnectionString="Data Source=myserver;Initial catalog=ASPState;User ID=aspsession;Password=passwordhere" cookieless="false" timeout="20" stateNetworkTimeout="20"/>

  </system.web>
</configuration>