<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Desktop.Analyzers" version="1.1.0" targetFramework="net452" />
  <package id="Microsoft.AnalyzerPowerPack" version="1.1.0" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.NetAnalyzers" version="8.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="MSTest.TestAdapter" version="3.1.1" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="3.1.1" targetFramework="net472" />
  <package id="RefactoringEssentials" version="5.6.0" targetFramework="net452" developmentDependency="true" />
  <package id="SonarAnalyzer.CSharp" version="9.16.0.82469" targetFramework="net472" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net452" developmentDependency="true" />
  <package id="System.Runtime.Analyzers" version="1.1.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.Analyzers" version="1.1.0" targetFramework="net452" />
  <package id="System.Security.Cryptography.Hashing.Algorithms.Analyzers" version="1.1.0" targetFramework="net452" />
  <package id="Text.Analyzers" version="3.3.4" targetFramework="net472" developmentDependency="true" />
</packages>